In [2]:
#libraries
import pandas as pd
import numpy as np
import os

In [3]:
path = r'/Users/brandeefairnot/Library/CloudStorage/OneDrive-Personal/Documents/Instacart Basket Analysis/'

In [4]:
#3 In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.
df_merged_large = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [5]:
df_merged_large

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,2539329,1,prior,1,2,8,NaN,26405,5,0,both
...,...,...,...,...,...,...,...,...,...,...,...
32434484,2977660,206209,prior,13,1,12,7.0,14197,5,1,both
32434485,2977660,206209,prior,13,1,12,7.0,38730,6,0,both
32434486,2977660,206209,prior,13,1,12,7.0,31477,7,0,both
32434487,2977660,206209,prior,13,1,12,7.0,6567,8,0,both
32434488,2977660,206209,prior,13,1,12,7.0,22920,9,0,both

In [6]:
#4 Check the shape of the imported dataframe 
df_merged_large.shape

(32434489, 11)

the shape is the same as the exported data.

In [7]:
#5 Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [8]:
# cleaned up products doc from 4.5 exercise

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)
df_prods_clean = df_prods[df_prods['product_name'].isnull() == False]
df_dups = df_prods_clean[df_prods_clean.duplicated()]
df_prods_clean.drop_duplicates()
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()
df_prods_clean_no_dups.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_checked.csv'))

In [9]:
df_prods_clean_no_dups

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3
...,...,...,...,...,...
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3
49689,49685,En Croute Roast Hazelnut Cranberry,42,1,3.1
49690,49686,Artisan Baguette,112,3,7.8
49691,49687,Smartblend Healthy Metabolism Dry Cat Food,41,8,4.7
49692,49688,Fresh Foaming Cleanser,73,11,13.5

In [10]:
#combining both dataframes
df_prods_combined = df_merged_large.merge(df_prods_clean_no_dups, on = ['product_id'])

In [11]:
df_prods_combined

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,1320836,202557,prior,17,2,15,1.0,43553,2,1,both,Orange Energy Shots,64,7,3.7
32404855,31526,202557,prior,18,5,11,3.0,43553,2,1,both,Orange Energy Shots,64,7,3.7
32404856,758936,203436,prior,1,2,7,NaN,42338,4,0,both,"Zucchini Chips, Pesto",50,19,6.9
32404857,2745165,203436,prior,2,3,5,15.0,42338,16,1,both,"Zucchini Chips, Pesto",50,19,6.9
32404858,3093936,205420,prior,1,4,14,NaN,28818,8,0,both,Hot Oatmeal Multigrain Raisin,130,14,10.3

In [12]:
#6 Confirm the results of the merge using the merge flag.
df_prods_combined['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [13]:
#checking the merged info with outer
df_prods_combined_ = df_merged_large.merge(df_prods_clean_no_dups, on = ['product_id'], how='outer')

In [14]:
df_prods_combined_['_merge'].value_counts()

both          32435059
left_only            0
right_only           0
Name: _merge, dtype: int64

The outer merged DF has more lines than my inner merged DF. But both lists are match on the both lines.

In [15]:
#7 Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).
df_prods_combined.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))